
model/dual_lstm.h5
reference/._.DS_Store
reference/._nlu_sim-master
reference/.DS_Store
reference/nlu_sim-master/._.DS_Store
reference/nlu_sim-master/._a1_dual_bilstm_char_predict.py
reference/nlu_sim-master/._a1_dual_bilstm_cnn_model.py
reference/nlu_sim-master/._a1_dual_bilstm_cnn_predict_ensemble.py
reference/nlu_sim-master/._a1_dual_bilstm_cnn_train.py
reference/nlu_sim-master/._data
reference/nlu_sim-master/._data_mining
reference/nlu_sim-master/._data_util.py
reference/nlu_sim-master/._data_util_test.py
reference/nlu_sim-master/._main_ensemble.py
reference/nlu_sim-master/._README.md
reference/nlu_sim-master/._run.sh
reference/nlu_sim-master/._utils
reference/nlu_sim-master/._weight_boosting.py
reference/nlu_sim-master/.DS_Store
reference/nlu_sim-master/a1_dual_bilstm_char_predict.py
reference/nlu_sim-master/a1_dual_bilstm_cnn_model.py
reference/nlu_sim-master/a1_dual_bilstm_cnn_predict_ensemble.py
reference/nlu_sim-master/a1_dual_bilstm_cnn_train.py
reference/nlu_sim-master/data/._atec_nl_sim_tfidf.txt
reference/nlu_sim-master/data/._atec_nl_sim_train.txt
reference/nlu_sim-master/data/._atec_nlp_sim_train.csv
reference/nlu_sim-master/data/._atec_nlp_sim_train2.csv
reference/nlu_sim-master/data/._atec_nlp_sim_train_add.csv
reference/nlu_sim-master/data/._enhanced_sequential_inference_model.jpg
reference/nlu_sim-master/data/._fasttext_fin_model_50.vec
reference/nlu_sim-master/data/._log_predict_error.txt
reference/nlu_sim-master/data/._log_predict_error_1_label1predict0_20.txt
reference/nlu_sim-master/data/._nlu_similiarity.jpg
reference/nlu_sim-master/data/._result13-3.csv
reference/nlu_sim-master/data/._result13.csv
reference/nlu_sim-master/data/._result20180528.csv
reference/nlu_sim-master/data/._result_20180526.csv
reference/nlu_sim-master/data/._result_20180528_2.csv
reference/nlu_sim-master/data/._resulttt.csv
reference/nlu_sim-master/data/._stacked_shortcut_biLSTM.jpg
reference/nlu_sim-master/data/._test.csv
reference/nlu_sim-master/data/._word2vec.txt
reference/nlu_sim-master/data/atec_nl_sim_tfidf.txt
reference/nlu_sim-master/data/atec_nl_sim_train.txt
reference/nlu_sim-master/data/atec_nlp_sim_train.csv
reference/nlu_sim-master/data/atec_nlp_sim_train2.csv
reference/nlu_sim-master/data/atec_nlp_sim_train_add.csv
reference/nlu_sim-master/data/enhanced_sequential_inference_model.jpg
reference/nlu_sim-master/data/fasttext_fin_model_50.vec
reference/nlu_sim-master/data/log_predict_error.txt
reference/nlu_sim-master/data/log_predict_error_1_label1predict0_20.txt
reference/nlu_sim-master/data/nlu_similiarity.jpg
reference/nlu_sim-master/data/result13-3.csv
reference/nlu_sim-master/data/result13.csv
reference/nlu_sim-master/data/result20180528.csv
reference/nlu_sim-master/data/result_20180526.csv
reference/nlu_sim-master/data/result_20180528_2.csv
reference/nlu_sim-master/data/resulttt.csv
reference/nlu_sim-master/data/stacked_shortcut_biLSTM.jpg
reference/nlu_sim-master/data/test.csv
reference/nlu_sim-master/data/word2vec.txt
reference/nlu_sim-master/data_mining/.___init__.py
reference/nlu_sim-master/data_mining/.___init__.pyc
reference/nlu_sim-master/data_mining/._data_util_stats.py
reference/nlu_sim-master/data_mining/._data_util_stats_word_freq.py
reference/nlu_sim-master/data_mining/._data_util_tfidf.py
reference/nlu_sim-master/data_mining/._data_util_tfidf.pyc
reference/nlu_sim-master/data_mining/__init__.py
reference/nlu_sim-master/data_mining/__init__.pyc
reference/nlu_sim-master/data_mining/data_util_stats.py
reference/nlu_sim-master/data_mining/data_util_stats_word_freq.py
reference/nlu_sim-master/data_mining/data_util_tfidf.py
reference/nlu_sim-master/data_mining/data_util_tfidf.pyc
reference/nlu_sim-master/data_util.py
reference/nlu_sim-master/data_util_test.py
reference/nlu_sim-master/main_ensemble.py
reference/nlu_sim-master/README.md
reference/nlu_sim-master/run.sh
reference/nlu_sim-master/utils/.___init__.py
reference/nlu_sim-master/utils/._avg_checkpoint.py
reference/nlu_sim-master/utils/._main.py
reference/nlu_sim-master/utils/._train_instruct.md
reference/nlu_sim-master/utils/__init__.py
reference/nlu_sim-master/utils/avg_checkpoint.py
reference/nlu_sim-master/utils/main.py
reference/nlu_sim-master/utils/train_instruct.md
reference/nlu_sim-master/weight_boosting.py
word2vec/._.DS_Store
word2vec/._sgns.target.word-word.dynwin5.thr10.neg5.dim300.iter5
word2vec/._sgns.zhihu.word
word2vec/.DS_Store
word2vec/sgns.target.word-word.dynwin5.thr10.neg5.dim300.iter5
word2vec/sgns.zhihu.word
.idea/vcs.xml
.idea/vcs.xml
*.pyc
*.h5
